* {
    margin: auto;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(237, 241, 238);
    background-color: rgb(20, 15, 34);
}

img {
    width: 340px;
    height: 340px;
}


h1 {
    text-transform: uppercase;
    text-shadow: 1px 2px 1.5px rgb(66, 138, 66);
}

h2 {
    font-weight: 550;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgb(66, 138, 66);
}

.login {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
}

main {
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin: 0px 20px 20px 20px;

}

input {
    margin-bottom: 45px;
    color: rgb(238, 237, 237);
    background-color: rgb(52, 43, 68);
    border-radius: 15px;
    padding: 13px;
    padding-left: 10px;
    border: none;
}

input[type="submit"] {
    padding: 15px;
    width: 120px;
    background-color: #49a162;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #347547;
    transition: 0.3s;
}

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    img {
        display: none;
    }

    h2 {
        display: none;
    }

    form {
        padding-top: 0px;
    }

    * {
        padding-top: 10px;
    }
}
